In [ ]:
#216 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.
#215 코드
def print_with_smile (string) :
    print (string + ":D")

In [2]:
def print_with_smile (string) :
    print (string + ":D")
print_with_smile("안녕하세요") #파라미터만 넣어서 함수를 호출하기만 하면 됨

안녕하세요:D

In [ ]:
#220 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [7]:
def print_max(a, b, c):
    if a > b and a > c:
        print(a)
    elif b > a and b > c:
        print(b)
    else:
        print(c)

print_max(5, 10, 3)

10

In [ ]:
#224 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

In [9]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [17]:
def print_keys(dictionary): #함수 정의. 딕셔너리 넣을거니까 dictionary라고 했고
    for keys in dictionary.keys(): #딕셔너리의 모든 키를 가져와야 하니까, dictionary.keys
        print(keys)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
#228 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

In [12]:
def calc_monthly_salary(annual_salary) : #함수 정의
  monthly_salary = int(annual_salary / 12) #월급 정의했는데, 정수니까 int 넣어서 연봉을 12로 나눈다고 했고
  return monthly_salary #

calc_monthly_salary(12000000)

1000000